@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0px;
    font-family: "Poppins", sans-serif;
}
h1{
    font-size: 50px;
}


section{
    height: 750px;
    padding-bottom: 200px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 1%;
    padding-left: 2%;
}
.half-width img{
    padding-top: 200px;
    padding-right: 120px;
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-color: #ec4c7a;
    padding:10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.top-banner h2{
    color: #ec4c7a;
    font-size: 50px;
    font-weight: 700;
    line-height:15px;
}
.top-banner p{
    color: #000000;
    padding-bottom:25px; 
}
.top-banner h3{
    font-size: 50px;
    font-weight: 400;
    line-height:10px;
}
.first-div{
    padding-top: 310px;
    padding-left: 150px;
    padding-right: -200px;  
}

.bio-banner{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bio-banner h3{
    font-size: 50px;
    font-weight: 400;
    line-height:10px;
}
